[Unit]
Description=Script to periodic run backup

[Service]
Type=simple
Restart=no
User=root
WorkingDirectory=/opt/backup
EnvironmentFile=/opt/backup/.env
ExecStart=/opt/backup/backup.sh

[Install]
WantedBy=multi-user.target
